use serde::Serialize;
use sqlx::FromRow;
use utoipa::ToSchema;

#[derive(Debug, Clone, Serialize, FromRow, ToSchema)]
pub struct {{ model_name }} {
{%- for field in fields %}
    pub {{ field.name }}: {{ field.rust_type }},
{%- endfor %}
}
